/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/*ol, ul {
    list-style: none;
}
*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/** { 
  outline: 1px solid black;
}
*/





/* Clearfix */
.cf:before,
.cf:after { content:"";display:table; }
.cf:after { clear:both; }
.cf { zoom:1;}

/* Base Style */
body {
    font:14px/1.6 'PT Serif', serif;
    font-weight: 400;
    color:#222;
    -webkit-font-smoothing: antialiased;
}


/* Sliding panels */
.curtains>li {
    background:#FFF url(img/blizzard.png);
    box-shadow:0 0 12px #666;
}
    .curtains>li:last-child{box-shadow:none}

/* MENU */
#menu{
    position:fixed;
    top:20px;
    left:20px;
    z-index:20;
    padding:10px;
    background-color:#000;
}
    #menu li{margin:0}
    #menu a{
        margin:0;
        color:#FFF;
    }



/* Section 1 */

#section-1{
    background:url(images/portfolio-bgrd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

    #section-1 header{
        color:#FFF;
        position:absolute;
        top:30%;
        left:35%;
        margin-left: auto;
        margin-right: auto;
        width:30%;
        text-align:center;
        line-height:0.8;
        font-family: 'Faster One', cursive;
    }

    #section-1 h1{
        font-size:40px;

    }

    #section-1 h2{
        text-transform:capitalize;
        opacity:.75;
        font-size:20px;
        top:20px;
    }

    
    
    #rocket{
         position:fixed;
        width:100px;
        left:48%;
        right: auto;
        top:75%;
    }

    #space-cat{
        width:100px;
        position:fixed;
        left:70%;
        top:60%;
    }

    #satelite{
        width:50px;
        position:fixed;
        left:10%;
        top:60%;
    }

    #starSolid1{
        width:20px;
        position:fixed;
        left:20%;
        top:20%;
    }

    #starSolid2{
        width:50px;
        position:fixed;
        left:70%;
        top:25%;
    }

    #starline1{
        width:100px;
        position:fixed;
        left:80%;
        top:10%;
        /* Safari */
        -webkit-transform: rotate(-90deg);

        /* Firefox */
        -moz-transform: rotate(-90deg);

        /* IE */
        -ms-transform: rotate(-90deg);

        /* Opera */
        -o-transform: rotate(-90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }
    #starline2{
        width:20px;
        position:fixed;
        left:10%;
        top:30%;
    }

/* Section 2 */
#section-2{
    background-color: #10434c;
}

.mynameis{
    position: fixed;
    width:250px;
    height: 250px;
    border-radius: 50%;
    background-color:#e3dbae;
    font-family: 'Codystar', cursive;
    font-weight: bolder;
    color:#e35800;
    font-size: 25px;
    margin-top:-70%;
    margin-left:65%;

    padding:60px;
    line-height: 0.9;
    text-align: center;
}


/* Section 5 */

#section-5{
   max-height: 1000px;
  background-color:#e35800;
}
.solar-system{
    width:100%;
    opacity:1;

}

.record{
    width:220%;
    opacity:1;
    margin-top: -80%;
    margin-left: -90%
}

.meandmusic{
    width:300px;
    height:300px;
    opacity:1;
    border-radius: 50%;
    background-color:#e3dbae;
    color:#e35800;
    margin-bottom: 50px;
     margin-top: -10%;
    margin-left:50%;
    font-family: 'Fascinate Inline', cursive;
    padding:80px;
    font-size: 30px;
    line-height: 0.9;
}

.news{
    width:220px;
    height:220px;
    opacity:1;
    border-radius: 50%;
    background-color:#790305;
    color:#e3dbae;
    margin-bottom: 50px;
    margin-left:15%;
    margin-top: -150px;
    font-family: 'Fascinate Inline', cursive;
    padding:60px;
    font-size: 30px;
    line-height: 0.9;
    text-align: center;
}

/* Section 3 */
#section-3{
    background:url(images/astronomy2.png) 50% 0 no-repeat;
    background-size:cover;
}
    #section-3 .photos{
        padding:150px 0;
        width:620px;
        margin-left:20%;
    }
        #section-3 .photos > :last-child{margin-bottom:0}

        #section-3 .fixed{
            position: fixed;
            top: 150px;
            left: 15%;
            width: 250px;
            height:250px;
           
        }

        .fixed img{
            width:200px;
        }

        #section-3 .photos-inner{
            margin-left:220px;
            width:400px;
        }

        #section-3  .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            width:90%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
           /* box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); */
        }

/*section4*/

#section-4{
    background-color:#B1B8C4;
    min-height: 1000px;
}
#lastpage{
    width:780px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30%;
}

#lastpage2{
    width:480px;
    margin-right: auto;
    margin-left: auto;
}

#lastpage3{
    width:780px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25%;
}

#lastpage4{
    width:480px;
    margin-right: auto;
    margin-left: auto;
}
.letters{
    font-family: 'Faster One', cursive;
    font-size:90px;
    height:150px;
    width:110px;
    /*padding-top:5px;*/
    padding-left:40px;
    border-radius: 50%;
    background-color:#06334d;
    color:white;
    display:inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
        

/* Sliding panels */
.curtains>li {
    background:#FFF url(img/blizzard.png);
    box-shadow:0 0 12px #666;
}
    .curtains>li:last-child{box-shadow:none}

/* MENU */
#menu{
    position:fixed;
    top:20px;
    left:20px;
    z-index:20;
    padding:10px;
    background-color:#000;
}
    #menu li{margin:0}
    #menu a{
        margin:0;
        color:#FFF;
    }



